<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Booking App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_hotel.css') }}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script defer src="{{ url_for('static', filename='scripts.js') }}"></script>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
        }
        .flight-details button:hover {
            background-color: #0056b3;
        }
        .results-section {
            display: flex;
            padding: 20px;
        }
        .filters {
            flex: 1;
            padding: 20px;
            background-color: #e9ecef;
            margin-right: 20px;
        }
        .filters h3, .filters h4 {
            margin-top: 0;
        }
        .filters label {
            display: block;
            margin-bottom: 10px;
        }
        .filters input[type="checkbox"] {
            margin-right: 5px;
        }
        .filters input[type="text"] {
            width: calc(100% - 12px);
            padding: 5px;
        }
        .results {
            flex: 3;
            padding: 20px;
            background-color: #fff;
        }
        .results ul {
            list-style: none;
            padding: 0;
        }
        .results li {
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
        }
        .results h4 {
            margin: 0 0 10px 0;
        }
        .results img {
            max-width: 150px;
            margin-right: 20px;
            border-radius: 5px;
        }
    </style>
    <script defer>
        $(document).ready(function() {
            // Fetch airports data
            $.getJSON('/airports', function(data) {
                const airports = data;

                function autocompleteSetup(selector) {
                    $(selector).autocomplete({
                        source: function(request, response) {
                            const results = $.map(airports, function(airport) {
                                const airportName = airport.name + " (" + airport.code + ")";
                                if (airportName.toLowerCase().indexOf(request.term.toLowerCase()) !== -1) {
                                    return {
                                        label: '<i class="fas fa-plane"></i> ' + airportName,
                                        value: airport.code
                                    };
                                }
                            });
                            response(results);
                        },
                        minLength: 2
                    }).autocomplete("instance")._renderItem = function(ul, item) {
                        return $("<li>")
                            .append("<div class='ui-menu-item-wrapper'>" + item.label + "</div>")
                            .appendTo(ul);
                    };
                }

                autocompleteSetup("#from-airport");
                autocompleteSetup("#to-airport");
                autocompleteSetup("#stay-location");  // Use airports for stay location
                autocompleteSetup("#package-origin");
                autocompleteSetup("#package-destination");
                autocompleteSetup("#activity-location");
                autocompleteSetup("#cruise-origin");
                autocompleteSetup("#cruise-destination");
            });

            $("#search-form").submit(function(event) {
                event.preventDefault();
                const formData = $(this).serialize();
                const queryParams = new URLSearchParams(formData).toString();
                window.location.href = '/search_flights?' + queryParams;
            });

            $("#car-rental-form").submit(function(event) {
                event.preventDefault();
                const formData = $(this).serialize();
                const queryParams = new URLSearchParams(formData).toString();
                window.location.href = '/search_cars?' + queryParams;
            });

            $("#stays-form").submit(function(event) {
                event.preventDefault();
                const formData = $(this).serialize();
                const queryParams = new URLSearchParams(formData).toString();
                window.location.href = '/search_stays?' + queryParams;
            });

            $("#packages-form").submit(function(event) {
                event.preventDefault();
                const formData = $(this).serialize();
                const queryParams = new URLSearchParams(formData).toString();
                window.location.href = '/search_packages?' + queryParams;
            });

            $("#thingsToDo-form").submit(function(event) {
                event.preventDefault();
                const formData = $(this).serialize();
                const queryParams = new URLSearchParams(formData).toString();
                window.location.href = '/search_things_to_do?' + queryParams;
            });

            $("#cruises-form").submit(function(event) {
                event.preventDefault();
                const formData = $(this).serialize();
                const queryParams = new URLSearchParams(formData).toString();
                window.location.href = '/search_cruises?' + queryParams;
            });

            var departDatepicker = flatpickr("#depart-date", {
                dateFormat: "Y-m-d",
                minDate: "today", // Prevent selecting past dates
                onChange: function(selectedDates) {
                    returnDatepicker.set('minDate', selectedDates[0]); // Set minDate for return date
                }
            });

            var returnDatepicker = flatpickr("#return-date", {
                dateFormat: "Y-m-d",
                minDate: "today" // Initially, set to today or a later date
            });

            var checkinDatepicker = flatpickr("#checkin-date", {
                dateFormat: "Y-m-d",
                minDate: "today", // Prevent selecting past dates
                onChange: function(selectedDates) {
                    checkoutDatepicker.set('minDate', selectedDates[0]); // Set minDate for checkout date
                }
            });

            var checkoutDatepicker = flatpickr("#checkout-date", {
                dateFormat: "Y-m-d",
                minDate: "today" // Initially, set to today or a later date
            });

            var pickupDatepicker = flatpickr("#pickup-date", {
                dateFormat: "Y-m-d",
                minDate: "today", // Prevent selecting past dates
                onChange: function(selectedDates) {
                    dropoffDatepicker.set('minDate', selectedDates[0]); // Set minDate for dropoff date
                }
            });

            var dropoffDatepicker = flatpickr("#dropoff-date", {
                dateFormat: "Y-m-d",
                minDate: "today" // Initially, set to today or a later date
            });

            showTab('stays');
        });

        function toggleDateInputs() {
            const tripType = document.querySelector('input[name="tripType"]:checked').value;
            const returnDate = document.getElementById('return-date');
            if (tripType === 'oneWay') {
                returnDate.style.display = 'none';
            } else {
                returnDate.style.display = 'block';
            }
        }

        function showTab(tabId) {
            const tabs = document.querySelectorAll('.tab-content');
            tabs.forEach(tab => {
                tab.style.display = 'none';
            });
            document.getElementById(tabId).style.display = 'block';

            const tabButtons = document.querySelectorAll('.tab');
            tabButtons.forEach(button => {
                button.classList.remove('active');
            });
            document.querySelector(`button[onclick="showTab('${tabId}')"]`).classList.add('active');
        }
    </script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/" style="text-decoration: none; color: inherit;">
                <i class="fas fa-plane-departure"></i> TravelFlight
            </a>
        </div>        
        <nav>
            <ul>
                <li><a href="#">Shop travel</a></li>
                <li><a href="#">Get the app</a></li>
                <li><a href="#">List your property</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Trips</a></li>
                <li><a href="#">Sign in</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="search-section">
            <div class="tab-menu">
                <button class="tab" onclick="showTab('flights')"><i class="fas fa-plane icon"></i>Flights</button>
                <button class="tab active" onclick="showTab('stays')"><i class="fas fa-hotel icon"></i>Stays</button>
                <button class="tab" onclick="showTab('cars')"><i class="fas fa-car icon"></i>Cars</button>
                <button class="tab" onclick="showTab('packages')"><i class="fas fa-suitcase icon"></i>Packages</button>
                <button class="tab" onclick="showTab('thingsToDo')"><i class="fas fa-map-signs icon"></i>Things to do</button>
                <button class="tab" onclick="showTab('cruises')"><i class="fas fa-ship icon"></i>Cruises</button>
            </div>
            <div id="flights" class="tab-content">
                <form id="search-form">
                    <div class="trip-type">
                        <label><input type="radio" name="tripType" value="roundTrip" onclick="toggleDateInputs()"> Roundtrip</label>
                        <label><input type="radio" name="tripType" value="oneWay" checked onclick="toggleDateInputs()"> One-way</label>
                        <label><input type="radio" name="tripType" value="multiCity" onclick="toggleDateInputs()"> Multi-city</label>
                    </div>
                    <div class="flight-details">
                        <input type="text" id="from-airport" name="origin" placeholder="Leaving from">
                        <input type="text" id="to-airport" name="destination" placeholder="Going to">
                        <input type="text" id="depart-date" name="date" placeholder="Select departure date">
                        <input type="text" id="return-date" name="returnDate" placeholder="Select return date" style="display: none;">
                        <input type="text" name="travelers" value="1" placeholder="1 traveler">
                        <div class="class-type">
                            <select name="cabinClass">
                                <option value="economy">Economy</option>
                                <option value="business">Business</option>
                                <option value="first">First Class</option>
                            </select>
                        </div>
                        <button type="submit" onclick="validateDates()"><i class="fas fa-search icon"></i>Search</button>
                    </div>
                </form>
                <div class="add-ons">
                    <label><input type="checkbox" name="addStay"> Add a place to stay</label>
                    <label><input type="checkbox" name="addCar"> Add a car</label>
                </div>
            </div>

            <div id="stays" class="tab-content active">
                <form id="stays-form" action="{{ url_for('search_stays') }}" method="GET">
                    <div class="flight-details">
                        <input type="text" id="stay-location" name="airport" value="{{ airport }}" placeholder="Enter airport code">
                        <input type="text" id="checkin-date" name="checkin" value="{{ checkin }}" placeholder="Select check-in date">
                        <input type="text" id="checkout-date" name="checkout" value="{{ checkout }}" placeholder="Select check-out date">
                        <input type="number" name="num_rooms" value="{{ num_rooms }}" placeholder="Number of rooms">
                        <input type="number" name="num_adults" value="{{ num_adults }}" placeholder="Number of adults">
                        <input type="number" name="num_children" value="{{ num_children }}" placeholder="Number of children">
                        <button type="submit"><i class="fas fa-search icon"></i>Search</button>
                    </div>
                </form>
            </div>

            <div id="cars" class="tab-content">
                <form id="car-rental-form">
                    <div class="flight-details">
                        <input type="text" id="pickup-location" name="pickUpLocation" placeholder="Pick-up location">
                        <input type="text" id="dropoff-location" name="dropOffLocation" placeholder="Same as pick-up">
                        <input type="text" id="pickup-date" name="pickUpDate" placeholder="Select pick-up date">
                        <input type="text" id="dropoff-date" name="dropOffDate" placeholder="Select drop-off date">
                        <input type="time" id="pickup-time" name="pickUpTime" value="10:30" placeholder="Pick-up time">
                        <input type="time" id="dropoff-time" name="dropOffTime" value="10:30" placeholder="Drop-off time">
                        <button type="submit"><i class="fas fa-search icon"></i>Search</button>
                    </div>
                </form>
            </div>

            <div id="packages" class="tab-content">
                <form id="packages-form">
                    <div class="flight-details">
                        <input type="text" id="package-origin" name="origin" placeholder="Leaving from">
                        <input type="text" id="package-destination" name="destination" placeholder="Going to">
                        <input type="date" id="package-depart-date" name="departDate">
                        <input type="date" id="package-return-date" name="returnDate">
                        <input type="text" name="travelers" value="1" placeholder="1 traveler">
                        <button type="submit"><i class="fas fa-search icon"></i>Search</button>
                    </div>
                </form>
            </div>

            <div id="thingsToDo" class="tab-content">
                <form id="thingsToDo-form">
                    <div class="flight-details">
                        <input type="text" id="activity-location" name="location" placeholder="Destination">
                        <input type="date" id="activity-date" name="date">
                        <input type="text" name="travelers" value="1" placeholder="1 traveler">
                        <button type="submit"><i class="fas fa-search icon"></i>Search</button>
                    </div>
                </form>
            </div>

            <div id="cruises" class="tab-content">
                <form id="cruises-form">
                    <div class="flight-details">
                        <input type="text" id="cruise-origin" name="origin" placeholder="Departure port">
                        <input type="text" id="cruise-destination" name="destination" placeholder="Destination">
                        <input type="date" id="cruise-depart-date" name="departDate">
                        <input type="date" id="cruise-return-date" name="returnDate">
                        <input type="text" name="travelers" value="1" placeholder="1 traveler">
                        <button type="submit"><i class="fas fa-search icon"></i>Search</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Results and Filters Section -->
        <div class="results-section">
            <div class="filters">
                <h3>Filters</h3>
                <div>
                    <h4>Stars</h4>
                    <label><input type="checkbox" name="stars" value="5" class="filter-checkbox"> 5 Stars</label>
                    <label><input type="checkbox" name="stars" value="4" class="filter-checkbox"> 4 + Stars</label>
                    <label><input type="checkbox" name="stars" value="3" class="filter-checkbox"> 3 + Stars</label>
                    <label><input type="checkbox" name="stars" value="2" class="filter-checkbox"> 2 + Stars</label>
                    <label><input type="checkbox" name="stars" value="1" class="filter-checkbox"> 1 + Stars</label>
                </div>
                <div>
                    <h4>Hotel Name</h4>
                    <input type="text" id="hotel-name-filter" placeholder="Search hotel by name">
                </div>
            </div>
            <div class="results">
                {% if data.error %}
                    <p>{{ data.error }}</p>
                {% else %}
                    <h3>Hotels</h3>
                    <ul id="hotel-list">
                        {% for hotel in data.hotels %}
                            <li class="hotel-item" data-star-rating="{{ hotel.ratings.star_rating }}" data-hotel-name="{{ hotel.name | lower }}">
                                <div class="hotel-container">
                                    <div class="hotel-photo">
                                        <img src="{{ hotel.photos[0] }}" alt="{{ hotel.name }}">
                                    </div>
                                    <div class="hotel-details">
                                        <div class="hotel-name-rating">
                                            <h4><a href="{{ hotel.link }}" target="_blank">{{ hotel.name }}</a></h4>
                                            <div class="rating-large">
                                                {% for i in range(hotel.ratings.star_rating) %}
                                                    <i class="fas fa-star"></i>
                                                {% endfor %}
                                                {% for i in range(5 - hotel.ratings.star_rating) %}
                                                    <i class="far fa-star"></i>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <p>{{ hotel.address }}</p>
                                        <div class="hotel-rating-review">
                                            <span class="hotel-rating-text">{{ hotel.ratings.review_rating }} Good</span>
                                            <span class="hotel-review-count">({{ hotel.ratings.review_count }} reviews)</span>
                                        </div>
                                        <div class="hotel-amenities">
                                            {% for amenity in hotel.amenity_codes %}
                                                <span class="hotel-amenity">{{ amenity }}</span>
                                            {% endfor %}
                                        </div>
                                        <div class="hotel-prices">
                                            <span class="hotel-price">${{ hotel.rates.priceline_low_rate }} per night</span>
                                            <span class="hotel-total-price">${{ hotel.rates.priceline_low_rate_total }} total</span>
                                        </div>
                                        <a href="#" onclick="redirectToRoomDetails({{ hotel.id }})" target="_blank">See available rooms</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            
        </div>
        <script>
            function redirectToRoomDetails(hotelId) {
                const checkin = document.getElementById('checkin-date').value;
                const checkout = document.getElementById('checkout-date').value;
                const numRooms = document.getElementById('num_rooms').value;
                const numAdults = document.getElementById('num_adults').value;
                const numChildren = document.getElementById('num_children').value;
        
                const url = `/show_available_room?hotel_id=${hotelId}&checkin=${checkin}&checkout=${checkout}&num_rooms=${numRooms}&num_adults=${numAdults}&num_children=${numChildren}`;
                window.open(url, '_blank');
            }
        </script>
        
    </main>
    <footer>
        <p>&copy; 2024 TravelFlight</p>
    </footer>
    <script>
        $(document).ready(function() {
            // Autocomplete for hotel name filter
            var hotelNames = {{ data.hotels | map(attribute='name') | list | tojson }};
            $("#hotel-name-filter").autocomplete({
                source: hotelNames
            });

            // Filter functionality
            $(".filter-checkbox").change(function() {
                filterHotels();
            });

            $("#hotel-name-filter").on("input", function() {
                filterHotels();
            });

            function filterHotels() {
                var selectedStars = [];
                $(".filter-checkbox:checked").each(function() {
                    selectedStars.push(parseInt($(this).val()));
                });

                var hotelName = $("#hotel-name-filter").val().toLowerCase();

                $(".hotel-item").each(function() {
                    var starRating = parseInt($(this).data("star-rating"));
                    var hotelNameMatch = $(this).data("hotel-name").includes(hotelName);

                    if ((selectedStars.length === 0 || selectedStars.includes(starRating)) && hotelNameMatch) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
</body>
</html>
