<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/" style="text-decoration: none; color: inherit;">
                <i class="fas fa-plane-departure"></i> CheapAir
            </a>
        </div>        <nav>
            <ul>
                <li>Shop travel</li>
                <li>Get the app</li>
                <li>List your property</li>
                <li>Support</li>
                <li>Trips</li>
                <li>Sign in</li>
            </ul>
        </nav>
    </header>

    <div id="flights" class="tab-content">
        <form id="search-form">
            <div class="trip-type">
                <label><input type="radio" name="tripType" value="roundTrip" onclick="toggleDateInputs()"> Roundtrip</label>
                <label><input type="radio" name="tripType" value="oneWay" onclick="toggleDateInputs()"> One-way</label>
                <label><input type="radio" name="tripType" value="multiCity" onclick="toggleDateInputs()"> Multi-city</label>
            </div>
            <div class="flight-details">
                <input type="text" id="from-airport" name="origin" placeholder="Leaving from">
                <input type="text" id="to-airport" name="destination" placeholder="Going to">
                <input type="date" id="depart-date" name="date">
                <input type="date" id="return-date" name="returnDate" style="display: none;">
                <input type="text" name="travelers" placeholder="1 traveler">
                <div class="class-type">
                    <select name="cabinClass">
                        <option value="economy">Economy</option>
                        <option value="business">Business</option>
                        <option value="first">First Class</option>
                    </select>
                </div>
                <button type="submit"><i class="fas fa-search icon"></i>Search</button>
            </div>
        </form>
    </div>

    <div class="results-container">
        <div class="filters">
            <h3>Filter by</h3>
            <div class="filter-section">
                <h4>Stops</h4>
                <div id="filter-stops"></div>
            </div>
            <div class="filter-section">
                <h4>Airlines</h4>
                <div id="filter-airlines"></div>
            </div>
            <div class="filter-section">
                <h4>Travel and baggage</h4>
                <label><input type="checkbox" name="travel_baggage" value="seat_choice"> Seat choice included</label>
            </div>
        </div>
        <div class="results">
            <div class="header">
                <h3>Recommended departing flights</h3>
                <div class="sort-by">
                    <label for="sort">Sort by</label>
                    <select id="sort">
                        <option value="recommended">Recommended</option>
                        <option value="price">Price</option>
                        <option value="duration">Duration</option>
                    </select>
                </div>
            </div>
            <div class="dates">
                <div id="dates-range"></div>
            </div>
            <div id="flights-list">
                <div class="spinner">
                    <i class="fas fa-spinner fa-spin"></i> Loading...
                </div>
            </div>
        </div>
    </div>
    
    <div class="feedback-section">
        <h4>Tell us how we can improve our site</h4>
        <a href="#">Share feedback</a>
    </div>
    
    <div class="app-promo">
        <h4>Get more out of your trip with the CheapTickets app</h4>
        <ul>
            <li>Get real-time travel updates, such as gate changes and flight delays</li>
            <li>Access all your travel details, even when offline</li>
            <li>Easily message your hotel – right in the app!</li>
        </ul>
        <div class="qr-code">
            <p>Scan the QR code with your device camera and download our app</p>
            <img src="{{ url_for('static', filename='qr.webp') }}" alt="QR code">
        </div>
    </div>
    
    <footer>
        <div class="footer-section">
            <img src="{{ url_for('static', filename='logo.jpeg') }}" alt="Expedia Group Logo">
            <div class="footer-links">
                <div>
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">List your property</a></li>
                        <li><a href="#">Partnerships</a></li>
                        <li><a href="#">Newsroom</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">CheapCash</a></li>
                        <li><a href="#">Advertising</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Explore</h4>
                    <ul>
                        <li><a href="#">Hotels in the United States</a></li>
                        <li><a href="#">Cars in the United States</a></li>
                        <li><a href="#">Flights in the United States</a></li>
                        <li><a href="#">Packages in the United States</a></li>
                        <li><a href="#">CheapTickets Reviews</a></li>
                        <li><a href="#">CheapTickets Coupons</a></li>
                        <li><a href="#">Student Travel Discount</a></li>
                        <li><a href="#">Travel Blog</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Policies</h4>
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Vrbo terms and conditions</a></li>
                        <li><a href="#">CheapCash Terms</a></li>
                        <li><a href="#">Do not sell my personal info</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Help</h4>
                    <ul>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Cancel your hotel or vacation rental booking</a></li>
                        <li><a href="#">Cancel your flight</a></li>
                        <li><a href="#">Refund timelines, policies & processes</a></li>
                        <li><a href="#">Use a Cheaptickets Coupon</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p>© 2024 CheapTickets, an Expedia Group company. All rights reserved. CheapTickets, CheapTickets.com, and the CheapTickets Logo are trademarks or registered trademarks of Orbitz, LLC. CST# 2063530-50.</p>
    </footer>

    <!-- Popup container -->
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <div id="popup-details"></div>
            <button id="book-popup">Book</button>
        </div>
    </div>

    <!-- Confirm booking popup -->
    <div id="confirm-popup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <p>To book this flight, call: <strong>217-931-6315</strong></p>
        </div>
    </div>

    <script>
        let originalFlights = [];

        function fetchFlightData() {
            const params = new URLSearchParams(window.location.search);
            fetch('/fetch_flights?' + params.toString())
                .then(response => response.json())
                .then(data => {
                    originalFlights = data.flights;
                    renderFlights(data.flights);
                    renderFilters(data.flights);
                    renderDateRange(data.flights);
                    document.querySelector('.spinner').style.display = 'none';
                });

            autoPopulateSearchForm(params);
        }

        function autoPopulateSearchForm(params) {
            const tripType = params.get('tripType');
            document.querySelector(`input[name="tripType"][value="${tripType}"]`).checked = true;
            document.getElementById('from-airport').value = params.get('origin');
            document.getElementById('to-airport').value = params.get('destination');
            document.getElementById('depart-date').value = params.get('date');
            document.getElementById('return-date').value = params.get('returnDate');
            document.querySelector('input[name="travelers"]').value = params.get('travelers');
            document.querySelector('select[name="cabinClass"]').value = params.get('cabinClass');

            if (tripType === 'roundTrip') {
                document.getElementById('return-date').style.display = 'inline-block';
            } else {
                document.getElementById('return-date').style.display = 'none';
            }
        }

        function toggleDateInputs() {
            const tripType = document.querySelector('input[name="tripType"]:checked').value;
            if (tripType === 'roundTrip') {
                document.getElementById('return-date').style.display = 'inline-block';
            } else {
                document.getElementById('return-date').style.display = 'none';
            }
        }

        function renderFlights(flights) {
            const flightsList = document.getElementById('flights-list');
            flightsList.innerHTML = '';

            if (flights.length === 0) {
                flightsList.innerHTML = '<p>No flights found for the selected criteria. Please try again.</p>';
                return;
            }

            flights.forEach(flight => {
                const flightCard = document.createElement('div');
                flightCard.className = 'flight-card';
                flightCard.dataset.flight = JSON.stringify(flight);

                flightCard.innerHTML = `
                    <div class="flight-info">
                        <div class="flight-time">
                            <span>${flight.legs[0].departure.split('T')[1].split(':00')[0]} - ${flight.legs[0].arrival.split('T')[1].split(':00')[0]}</span>
                            <span>${Math.floor(flight.legs[0].durationInMinutes / 60)}h ${flight.legs[0].durationInMinutes % 60}m</span>
                        </div>
                        <div class="flight-route">
                            <span>${flight.legs[0].origin.city} (${flight.legs[0].origin.displayCode})</span>
                            <i class="fas fa-plane"></i>
                            <span>${flight.legs[0].destination.city} (${flight.legs[0].destination.displayCode})</span>
                        </div>
                        <div class="flight-carrier">
                            <img src="${flight.legs[0].carriers.marketing[0].logoUrl}" alt="${flight.legs[0].carriers.marketing[0].name} logo">
                            <span>${flight.legs[0].carriers.marketing[0].name}</span>
                        </div>
                    </div>
                    <div class="flight-price">
                        <span>${flight.price.formatted}</span>
                        <button class="book-button">Book now</button>
                    </div>
                `;

                flightsList.appendChild(flightCard);
            });

            document.querySelectorAll('.book-button').forEach(button => {
                button.addEventListener('click', function() {
                    const flight = JSON.parse(this.closest('.flight-card').dataset.flight);
                    showPopup(flight);
                });
            });
        }

        function renderFilters(flights) {
            const stopsFilter = document.getElementById('filter-stops');
            const airlinesFilter = document.getElementById('filter-airlines');

            const stops = new Set();
            const airlines = new Set();

            flights.forEach(flight => {
                stops.add(flight.legs[0].stopCount);
                airlines.add(flight.legs[0].carriers.marketing[0].name.toLowerCase());
            });

            stopsFilter.innerHTML = '';
            stops.forEach(stop => {
                const label = document.createElement('label');
                label.innerHTML = `<input type="checkbox" name="stops" value="${stop}"> ${stop} Stops`;
                stopsFilter.appendChild(label);
                stopsFilter.appendChild(document.createElement('br'));
            });

            airlinesFilter.innerHTML = '';
            airlines.forEach(airline => {
                const label = document.createElement('label');
                label.innerHTML = `<input type="checkbox" name="airlines" value="${airline}"> ${capitalizeFirstLetterOfEachWord(airline)}`;
                airlinesFilter.appendChild(label);
                airlinesFilter.appendChild(document.createElement('br'));
            });

            document.querySelectorAll('.filters input[type="checkbox"]').forEach(filter => {
                filter.addEventListener('change', applyFilters);
            });

            document.getElementById('sort').addEventListener('change', applyFilters);
        }

        function capitalizeFirstLetterOfEachWord(string) {
            return string.replace(/\b\w/g, char => char.toUpperCase());
        }

        function renderDateRange(flights) {
            const datesRange = document.getElementById('dates-range');
            const searchParams = new URLSearchParams(window.location.search);
            const searchDate = new Date(searchParams.get('date'));

            const generateDateMarkup = (date, isCurrentDate) => {
                const priceChange = 1 + (Math.random() * 0.4 - 0.2);
                const lowestPrice = Math.min(...flights.map(flight => flight.price.raw));
                const price = (lowestPrice * priceChange).toFixed(2);
                return `
                    <div class="date ${isCurrentDate ? 'highlighted' : ''}">
                        <span>${date.toDateString()}</span>
                        <span>$${price}</span>
                    </div>
                `;
            };

            let markup = '';
            for (let i = -3; i <= 3; i++) {
                const date = new Date(searchDate);
                date.setDate(searchDate.getDate() + i);
                markup += generateDateMarkup(date, i === 0);
            }
            datesRange.innerHTML = `<div class="dates-row">${markup}</div>`;
        }

        function applyFilters() {
            const filters = {
                stops: Array.from(document.querySelectorAll('input[name="stops"]:checked')).map(el => el.value),
                airlines: Array.from(document.querySelectorAll('input[name="airlines"]:checked')).map(el => el.value),
                travel_baggage: Array.from(document.querySelectorAll('input[name="travel_baggage"]:checked')).map(el => el.value)
            };

            let filteredFlights = originalFlights.filter(flight => {
                const stops = flight.legs[0].stopCount.toString();
                const airline = flight.legs[0].carriers.marketing[0].name.toLowerCase();

                return (filters.stops.length === 0 || filters.stops.includes(stops)) &&
                    (filters.airlines.length === 0 || filters.airlines.includes(airline)) &&
                    (filters.travel_baggage.length === 0 || filters.travel_baggage.includes('seat_choice'));
            });

            const sortValue = document.getElementById('sort').value;
            filteredFlights = filteredFlights.sort((a, b) => {
                if (sortValue === 'price') {
                    return parseFloat(a.price.raw) - parseFloat(b.price.raw);
                } else if (sortValue === 'duration') {
                    return a.legs[0].durationInMinutes - b.legs[0].durationInMinutes;
                } else {
                    return 0; // Default sorting (recommended)
                }
            });

            renderFlights(filteredFlights);
        }

        function showPopup(flight) {
            const popup = document.getElementById('popup');
            const popupDetails = document.getElementById('popup-details');
            
            let stopsHtml = '';
            flight.legs[0].segments.forEach(segment => {
                stopsHtml += `
                    <p><strong>Flight Number:</strong> ${segment.flightNumber}</p>
                    <p><strong>From:</strong> ${segment.origin.name} (${segment.origin.displayCode})</p>
                    <p><strong>To:</strong> ${segment.destination.name} (${segment.destination.displayCode})</p>
                    <p><strong>Departure:</strong> ${segment.departure}</p>
                    <p><strong>Arrival:</strong> ${segment.arrival}</p>
                    <hr>
                `;
            });

            popupDetails.innerHTML = `
                <h2>Flight Details</h2>
                <p><strong>From:</strong> ${flight.legs[0].origin.city} (${flight.legs[0].origin.displayCode})</p>
                <p><strong>To:</strong> ${flight.legs[0].destination.city} (${flight.legs[0].destination.displayCode})</p>
                <p><strong>Departure:</strong> ${flight.legs[0].departure}</p>
                <p><strong>Arrival:</strong> ${flight.legs[0].arrival}</p>
                <p><strong>Duration:</strong> ${Math.floor(flight.legs[0].durationInMinutes / 60)}h ${flight.legs[0].durationInMinutes % 60}m</p>
                <p><strong>Price:</strong> ${flight.price.formatted}</p>
                <p><strong>Including taxes and fees</p>
                <p>Free cancellation within 24 hours, after that non refundable</p>
                ${stopsHtml}
            `;
            popup.style.display = 'block';

            document.getElementById('book-popup').onclick = () => showConfirmPopup(flight);
        }
        function showConfirmPopup(flight) {
    const flightData = JSON.stringify(flight);
    console.log(flightData);
    console.log(flight);
    
    const bookingUrl = `/book?flight=${encodeURIComponent(flightData)}`;
    window.location.href = bookingUrl;
}

        // function showConfirmPopup() {
        //     const confirmPopup = document.getElementById('confirm-popup');
        //     confirmPopup.style.display = 'block';
        // }

        document.querySelectorAll('.close').forEach(button => {
            button.addEventListener('click', function() {
                this.closest('.popup').style.display = 'none';
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            fetchFlightData();
        });
    </script>
</body>
</html>
